[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
pylint = "*"

[packages]
numpy = "*"
kaggle = "*"
pandas = "==1.0.0"
torch = "==1.3.1"
torchvision = "==0.4.2"
pillow = "==6.2.1"
pyarrow = "==0.15.1"
tqdm = "*"
iterative-stratification = "*"
scikit-learn = "*"
tensorboard = "*"
pretrainedmodels = "*"
pyyaml = "*"
pytorch-metric-learning = "*"

[requires]
python_version = "3.7"
